body{
    background-image: url(hack.png);
    background-size: cover;
    background-repeat: no-repeat;

    color:green;
    background-color: black;
    font-size: 25px;
}
#hacker{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: px;
}